.menu {
    -fx-background-color: #0E1920;
}

.menu-button {
    -fx-background-radius: 30px;
    -fx-background-color: #16222E;
}

.menu-button:hover {
    -fx-background-color: #D9EEE1;
    -fx-text-fill: black;
}

.playlist {}

.playlist:hover {
    -fx-effect: dropshadow(three-pass-box, #D9EEE1, 10, 0.5, 0, 0);
    -fx-cursor: hand;
}

.list {
    -fx-background-color: #0E1920;
}

.list-cell {
    -fx-pref-height: 50;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: Rockwell;
}

.list-cell:even {
    -fx-background-color: #1d2a35;
}

.list-cell:odd {
    -fx-background-color: #0f1d28;
}

.list-cell:filled:selected {
    -fx-background-color: #FFF4A3;
    -fx-text-fill: black;
}

.list-cell:hover {
    -fx-background-color: #292938;
}